
body {
	color: #555;
	padding-top: 50px;
	font-size: 130%;
	font-family: 'Sanchez', serif;
}

.headStrip {
  width: 100%;
  height: 33px;
  color: #898585;
  position: fixed;
  top: 0;
  z-index: 900;
  min-width: 1000px;
}

.headStripBack{
  width: 100%;
  height: 33px;
  background: #000;
  -moz-opacity:.80; filter:alpha(opacity=80); opacity:.80;
  position: fixed;
  top: 0;
  z-index: 850;
}

.naver {
  list-style: none;
  padding: 0 0 0 10px;
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: bold;
  min-width: 1000px;
  width: 990px;
  margin: 0 auto;
  display:list-item;
}

.lt-ie9 .naver{
  font-size:0.8em;
}

li{
  list-style: none;
}
.naver li {
  float: left;
  margin: 0.5em 0.7em 0em 0em;
}
.naver li span{
  margin: 0 0 0 0.5em;
}
.naver li a:link, .naver li a:visited{
  color: #fff;
  text-decoration: none;
}

.naver li a:hover {
  color: #FFEA7B;
}

header h1 {
	font-size: 64px;
	padding-bottom: 10px;
	text-align: center;
}

h2,h3,h4 {
	text-align: center;
	font-family: 'Lobster', serif;
	font-family: 'Petit Formal Script', cursive;
}

.bold {
	font-family: 'Sanchez', serif;
}

.big {
	font-size: 140%;
}

.accent {
	color: #FFD340;
	/*color: #934020;*/
}

.divider {
	width: 100%;
	border-bottom: dotted 5px #555;
	clear:both;
}

.right-divider {
	border-right: dotted 5px #555;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.left {
  text-align: left;
}

#map { 
	height: 300px;
	width: 920px;
	margin: 10px auto;
}

#map-border {
	height: 320px;
	width: 940px;
	border: dotted 1px #ddd;
	margin-bottom: 20px;
}

.script {
	font-family: 'Petit Formal Script', cursive;
	font-size: 30px;
}

#image-border {
	width: 100%;
}

#overbrook-image {
	display:block;
	margin:auto;
	width: 818px;
	padding-bottom: 20px;
}

#countdown-wrapper {
  width: 400px;
}

#countdown {
  background-image: url("/img/clock.png");
  background-repeat: no-repeat;
  height:200px;
}

#countdown_m_hide {
  margin-left: 100px;
  padding-top: 30px;
  font-size: 60px;
  display:block;
  clear:right;
  padding-bottom: 28px;
}

#countdown_w_hide {
  margin-left: 100px;
  font-size: 60px;
  display:block;
  padding-bottom: 28px;
  /* padding-left: 4px; */
  clear:right;
}

#countdown_d_hide {
  margin-left: 100px;
  font-size: 60px;
  display:block;
  padding-bottom: 28px;
  /* padding-left: 4px; */
  clear:right;
}
