<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} - chris &amp; emmy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div id="head">
      <div id="heart_hold">
        <div id="heart_circle">
          <div id="inner_circle"></div>
          <div class="heart"></div>
        </div>
      </div>
    </div>
    <div id="border">
      <div class="container" id="main">
        <div id="titles">
          <h2>emmy vallandingham <span class="right">christopher jedras</span></h2>
        </div>
        <div id="nav_wrapper">
          <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="#">RSVP</a></li>
            <li><a href="#">Schedule of Events</a></li>
            <li><a href="#">Guestbook</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Registry</a></li>
            <li><a href="#">Photos</a></li>
            <li><a href="#">Where you at?</a></li>
          </ul>
        </div>
      <div class="clearfix"></div>
      <div id="body"> 
        {{ content }}
      </div>
      </div>
    </div>
    <div id="footer">
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>

