---
navigation:
- text: Home
  url: /
- text: RSVP
  url: /rsvp.html
- text: Schedule of Events
  url: /schedule.html
- text: Useful Information
  url: /info.html
- text: Our Local Favorites 
  url: /favorites.html
- text: Registry
  url: /registry.html
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} - chris &amp; emmy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div id="head">
    </div>
    <div id="border">
      <div class="container" id="main">
        <div id="logo">
          <a href="/"><img src="img/emmy_and_chris.png"/></a>
        </div>
      <div id="nav_wrapper">
        </div>
      <div class="clearfix"></div>
      <div id="body"> 
        <h1 style="text-align:center;">Thanks so much for making this wedding the amazing event it was.</h1>
        <h1 style="color:#888;text-align:center;">We cannot say how much we appreciated all of you.</h2>
      </div>
      </div>
    </div>
    <div id="footer">
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26518241-2']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>
    
  </body>
</html>

